   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: Arial, Helvetica, sans-serif;
   }

   body {
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
       background: #0f172a;
       overflow: hidden;
       color: #fff;
   }

   /* Animated Background */
   body::before {
       content: "";
       position: absolute;
       width: 400px;
       height: 400px;
       background: #2563eb;
       filter: blur(170px);
       top: -100px;
       left: -100px;
       animation: move1 8s infinite alternate;
   }

   body::after {
       content: "";
       position: absolute;
       width: 350px;
       height: 350px;
       background: #7c3aed;
       filter: blur(170px);
       bottom: -100px;
       right: -100px;
       animation: move2 8s infinite alternate;
   }

   @keyframes move1 {
       to {
           transform: translate(120px, 120px);
       }
   }

   @keyframes move2 {
       to {
           transform: translate(-120px, -120px);
       }
   }

   .container {
       position: relative;
       z-index: 2;
       text-align: center;
       background: rgba(255, 255, 255, .05);
       backdrop-filter: blur(10px);
       border: 1px solid rgba(255, 255, 255, .1);
       padding: 50px;
       border-radius: 20px;
       box-shadow: 0 0 25px rgba(0, 0, 0, .3);
   }

   h1 {
       font-size: 140px;
       color: #60a5fa;
       text-shadow: 0 0 20px #2563eb;
       animation: float 2s ease-in-out infinite;
   }

   @keyframes float {
       50% {
           transform: translateY(-12px);
       }
   }

   h2 {
       margin: 10px 0;
       font-size: 32px;
   }

   p {
       margin: 20px 0 35px;
       color: #cbd5e1;
       line-height: 1.7;
       font-size: 18px;
   }

   .btn {
       display: inline-block;
       padding: 14px 30px;
       background: #2563eb;
       color: #fff;
       text-decoration: none;
       border-radius: 50px;
       transition: .3s;
       font-weight: bold;
   }

   .btn:hover {
       background: #1d4ed8;
       transform: translateY(-4px);
       box-shadow: 0 10px 25px rgba(37, 99, 235, .4);
   }

   @media(max-width:600px) {

       h1 {
           font-size: 90px;
       }

       h2 {
           font-size: 24px;
       }

       p {
           font-size: 16px;
       }

       .container {
           width: 90%;
           padding: 35px 25px;
       }
   }